$electric-violet: #AE00DA;
$mardi-gras: #2e0039;
$pizazz: #ff9000;
$scorpion: #5d5d5d;
$mine-shaft: #252525;
$azure-radiance: #0084ff;
$robins-egg-blue: #00c2ec;
$cerulean: #00A8DB;
$gallery: #ebebeb;
$cod-gray: #1d1d1d;

//foundation-palette
//$light-gray: #e6e6e6;
//$medium-gray: #cacaca;
//$dark-gray: #8a8a8a;
//$black: #0a0a0a;
//$white: #fefefe;

.fc--white{
  color: #fff !important;
}
.fc--electric-violet {
  color: $electric-violet !important;
}
.fc--mardi-gras {
  color: $mardi-gras !important;
}
.fc--pizazz {
  color: $pizazz !important;
}
.fc--scorpion {
  color: $scorpion !important;
}
.fc--cod-gray {
  color: $cod-gray !important;
}
.fc--mine-shaft {
  color: $mine-shaft !important;
}
.fc--azure-radiance {
  color: $azure-radiance !important;
}
.fc--robins-egg-blue {
  color: $robins-egg-blue !important;
}
.fc--cerulean {
  color: $cerulean !important;
}
.fc--gallery {
  color: $gallery !important;
}

.bg--electric-violet {
  background-color: $electric-violet;
}
.bg--mardi-gras {
  background-color: $mardi-gras;
}
.bg--pizazz {
  background-color: $pizazz;
}
.bg--scorpion {
  background-color: $scorpion;
}
.bg--mine-shaft {
  background-color: $mine-shaft;
}
.bg--azure-radiance {
  background-color: $azure-radiance;
}
.bg--robins-egg-blue {
  background-color: $robins-egg-blue;
}
.bg--cerulean {
  background-color: $cerulean;
}
.bg--gallery {
  background-color: $gallery;
}
