.section{
  padding: 8rem 2rem;
  position: relative;
  .row{
    position: relative;
    z-index: 2;
    &--flex{
      display: flex;
      align-items: center;
    }
  }
  &--small{
    padding: 4rem 2rem;
  }
  &--no-pad{
    padding: 0 2rem 6rem 2rem;
  }
  &--border-bottom{
    border-bottom: 4px solid white;
  }
}
