---
title: Button Styles
heading: 'Craft My Style'
---

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--pizazz">
      Buttons
    </h1>
    <h4 class="lato lato--black fc--mardi-gras">Check out these buttons...</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--white">Btn White</a>
      <a href="#" class="btn btn--purple">Btn Purple</a>
      <a href="#" class="btn btn--blue">Btn Blue</a>
      <a href="#" class="btn btn--blue-inv">Btn Blue Inv</a>
      <a href="#" class="btn btn--blue-purple">Btn Blue/Purple</a>
      <a href="#" class="btn btn--text">Text / Link</a>
    </div>
    <div class="row push--20">
      <button type="submit" class="btn btn--white">Btn White</button>
      <button type="submit" class="btn btn--purple">Btn Purple</button>
      <button type="submit" class="btn btn--blue">Btn Blue</button>
      <button type="submit" class="btn btn--blue-inv">Btn Blue Inv</button>
      <button type="submit" class="btn btn--blue-purple">Btn Blue/Purple</button>
      <button type="submit" class="btn btn--text">Text / Link</button>
    </div>
  </div>
</div>
