---
title: Home
heading: 'Craft My Style'
---

<div class="row">
  <div class="columns small-12">
    <h1 class="roboto-slab roboto-slab--bold uppercase">Craft My Style</h1>
    <p class="lato lato--black lead">Front End Documentation | Style Guide</p>
  </div>
</div>

<div class="row push--40">
  <div class="columns small-12">
    <div class="row small-up-2 medium-up-4">
      <div class="column">
        <a href="navs.html">Navigation</a>
      </div>
      <div class="column">
        <a href="layout">Layout Blocks</a>
      </div>
    </div>
  </div>
</div>
