---
title: Home
heading: 'Craft My Style'
---

<div class="row">
  <div class="columns small-12">
    <h1 class="roboto-slab roboto-slab--bold uppercase">Craft My Style</h1>
    <p class="lato lato--black lead">Front End Documentation | Style Guide</p>
  </div>
</div>

<div class="row push--40">
  <div class="columns small-12">
    <div class="row small-up-2 medium-up-1">
      <div class="column">
        <a href="navs.html">Navigation</a>
      </div>
      <div class="column">
        <a href="layout.html">Layout Blocks</a>
      </div>
      <div class="column">
        <a href="legal.html">Legal / Content Page</a>
      </div>
      <div class="column">
        <a href="forms.html">Forms</a>
      </div>
      <div class="column">
        <a href="buttons.html">Buttons</a>
      </div>
      <div class="columns push--60">
        <h3>Pages:</h3>
      </div>
      <div class="columns">
        <a href="page-brands.html">page-brands</a>
      </div>
      <div class="columns">
        <a href="page-home.html">page-home</a>
      </div>
      <div class="columns">
        <a href="page-how-it-works.html">page-how-it-works</a>
      </div>
      <div class="columns">
        <a href="page-legal.html">page-legal</a>
      </div>
      <div class="columns">
        <a href="page-login.html">page-login</a>
      </div>
      <div class="columns">
        <a href="page-register.html">page-register</a>
      </div>
      <div class="columns">
        <a href="page-stylists.html">page-stylists</a>
      </div>
      <div class="columns">
        <a href="page-team.html">page-team</a>
      </div>
      <div class="columns">
        <a href="page-user-index.html">page-user-index</a>
      </div>
      <div class="columns">
        <a href="page-user-prefs-settings.html">page-user-prefs-settings</a>
      </div>
    </div>
  </div>
</div>
