---
title: Home
heading: 'Craft My Style'
---

<div class="row">
  <div class="columns small-12">
    <h1 class="roboto-slab roboto-slab--bold uppercase">Craft My Style</h1>
    <p class="lato lato--black lead">Front End Documentation | Style Guide</p>
  </div>
</div>

<div class="row push--40">
  <div class="columns small-12">
    <div class="row small-up-2 medium-up-4">
      <div class="column">
        <a href="#">Homepage</a>
      </div>
      <div class="column">
        <a href="#">Homepage</a>
      </div>
      <div class="column">
        <a href="#">Homepage</a>
      </div>
      <div class="column">
        <a href="#">Homepage</a>
      </div>
    </div>
    <div class="row small-up-2 medium-up-4 push--20">
      <div class="column">
        <a href="#">Homepage</a>
      </div>
      <div class="column">
        <a href="#">Homepage</a>
      </div>
      <div class="column">
        <a href="#">Homepage</a>
      </div>
      <div class="column">
        <a href="#">Homepage</a>
      </div>
    </div>
  </div>
</div>

<div class="row push--80">
  <div class="columns small-12">
    <h1 class="lato lato--black uppercase">Heading 1</h1>
    <h2 class="lato lato--black uppercase">Heading 2</h2>
    <h3 class="lato lato--black uppercase">Heading 3</h3>
    <h4 class="lato lato--black uppercase">Heading 4</h4>
    <h5 class="lato lato--black uppercase">Heading 5</h5>
    <h6 class="lato lato--black uppercase">Heading 6</h6>
    <p>Lato Black</p>
  </div>
</div>

<div class="row push--40">
  <div class="columns small-12">
    <h1 class="nunito nunito--black uppercase">Heading 1</h1>
    <h2 class="nunito nunito--black uppercase">Heading 2</h2>
    <h3 class="nunito nunito--black uppercase">Heading 3</h3>
    <h4 class="nunito nunito--black uppercase">Heading 4</h4>
    <h5 class="nunito nunito--black uppercase">Heading 5</h5>
    <h6 class="nunito nunito--black uppercase">Heading 6</h6>
    <p>Nunito Black</p>
  </div>
</div>

<div class="row push--40">
  <div class="columns small-12">
    <h1 class="roboto-slab roboto-slab--bold uppercase">Heading 1</h1>
    <h2 class="roboto-slab roboto-slab--bold uppercase">Heading 2</h2>
    <h3 class="roboto-slab roboto-slab--bold uppercase">Heading 3</h3>
    <h4 class="roboto-slab roboto-slab--bold uppercase">Heading 4</h4>
    <h5 class="roboto-slab roboto-slab--bold uppercase">Heading 5</h5>
    <h6 class="roboto-slab roboto-slab--bold uppercase">Heading 6</h6>
    <p>Roboto Slab</p>
  </div>
</div>
