---
title: Layout Blocks
heading: 'Craft My Style'
---

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--electric-violet">
      Get Styled.
    </h1>
    <h4 class="lato lato--black fc--mardi-gras">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--purple">Learn More</a>
      <a href="#" class="btn btn--purple">Our Stylists</a>
    </div>
  </div>
</div>

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--pizazz">
      Get Styled.
    </h1>
    <h4 class="lato lato--black fc--mardi-gras">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--purple">Learn More</a>
      <a href="#" class="btn btn--purple">Our Stylists</a>
    </div>
  </div>
</div>

<div class="section bg--mine-shaft text-center">
  <div class="row">
    <h1 class="lato lato--black fc--azure-radiance">
      Get Styled.
    </h1>
    <h4 class="lato lato--black fc--gallery">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--blue">Learn More</a>
      <a href="#" class="btn btn--blue">Our Stylists</a>
    </div>
  </div>
</div>

<div class="section bg--mine-shaft text-center">
  <div class="row">
    <h1 class="lato lato--black fc--pizazz">
      Get Styled.
    </h1>
    <h4 class="lato lato--black fc--gallery">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--blue">Learn More</a>
      <a href="#" class="btn btn--blue">Our Stylists</a>
    </div>
  </div>
</div>

<div class="section section--small bg--robins-egg-blue text-center">
  <div class="row">
    <div class="columns large-6">
      <p class="lead lato lato--bold fc--white">
        Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.
      </p>
    </div>
    <div class="columns large-6">
      <p class="lead lato lato--bold fc--white">
        Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.
      </p>
    </div>
  </div>
</div>

<div class="section section--small bg--mine-shaft text-center">
  <div class="row text-center">
    <h2 class="lato lato--black fc--robins-egg-blue">
      Page Header
    </h2>
  </div>
</div>

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--pizazz">
      Stories
    </h1>
    <h4 class="lato lato--black fc--mardi-gras">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row large-up-4 push--30">
      <div class="column">
        <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
        <div class="row push--20">
          <h4 class="lato lato--black">Jed, 29</h4>
          <p class="push--20">
            Nashville
          </p>
        </div>
      </div>
      <div class="column">
        <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
        <div class="row push--20">
          <h4 class="lato lato--black">Jed, 29</h4>
          <p class="push--20">
            Nashville
          </p>
        </div>
      </div>
      <div class="column">
        <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
        <div class="row push--20">
          <h4 class="lato lato--black">Jed, 29</h4>
          <p class="push--20">
            Nashville
          </p>
        </div>
      </div>
      <div class="column">
        <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
        <div class="row push--20">
          <h4 class="lato lato--black">Jed, 29</h4>
          <p class="push--20">
            Nashville
          </p>
        </div>
      </div>
    </div>
    <div class="row push--30">
      <a href="#" class="btn btn--purple">Learn More</a>
      <a href="#" class="btn btn--purple">Our Stylists</a>
    </div>
  </div>
</div>

<div class="section section--small bg--gallery text-left">
  <div class="row row--flex">
    <div class="columns small-12 large-8">
      <h2 class="lato lato--black fc--electric-violet">
        Step One
      </h2>
      <h5 class="lato lato--black fc--mardi-gras push--20">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h5>
    </div>
    <div class="columns small-12 large-4 show-for-large">
      <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
    </div>
  </div>
  <div class="row row--flex push--40">
    <div class="columns small-12 large-4 show-for-large">
      <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
    </div>
    <div class="columns small-12 large-8">
      <h2 class="lato lato--black fc--electric-violet">
        Step Two
      </h2>
      <h5 class="lato lato--black fc--mardi-gras push--20">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h5>
    </div>
  </div>
  <div class="row row--flex push--40">
    <div class="columns small-12 large-8">
      <h2 class="lato lato--black fc--electric-violet">
        Step One
      </h2>
      <h5 class="lato lato--black fc--mardi-gras push--20">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h5>
    </div>
    <div class="columns small-12 large-4 show-for-large">
      <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
    </div>
  </div>
</div>
