---
title: Navigation
heading: 'Craft My Style'
---

<div class="header row expanded">

  <div class="header__logo">
    <img src="/assets/img/cms-logo.svg" width="200" height="auto" />
  </div>

  <button class="header__mobi-nav-togg js-nav-togg hide-for-large">
    <i class="fa fa-bars"></i>
  </button>

  <div class="mobile-menu-wrap js-mobi-menu-wrap">
    <button class="header__mobi-nav-close js-nav-close hide-for-large">
      <i class="fa fa-close"></i>
    </button>
    <div class="row expanded">
      <nav class="header__li-nav text-right row expanded">
        <div class="row">
          <ul class="columns small-12 text-center large-text-right">
            <li class="isActive">
              <a href="#">Log In</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
            <li>
              <a href="#">Help & Support</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="header__main-nav row expanded">
        <div class="row">
          <ul class="columns small-12 text-center large-text-right">
            <li>
              <a href="#">How it Works</a>
            </li>
            <li class="isActive">
              <a href="#">Brands</a>
            </li>
            <li>
              <a href="#">Stylists</a>
            </li>
            <li>
              <a href="#">Get Started</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</div>

<div class="hero row expanded">
  <div class="row text-center">
    <h3 class="lato fc--white">Real Stylists. Thousands of stores.</h3>
    <h1 class="lato lato--black fc--robins-egg-blue">Your Best Look Yet.</h1>
    <div class="push--40">
      <a href="#" class="btn btn--white">How it Works</a>
    </div>
  </div>
</div>



<div class="footer row expanded bg--gallery">
  <div class="row">

    <div class="columns small-12 large-4 text-center large-text-left">
      <div class="footer__logo">
        <img src="/assets/img/cms-logo.svg" width="200" height="auto" />
      </div>
    </div>

    <div class="columns small-12 large-4 text-center large-text-left push--medium-30">
      <nav class="footer__about footer__nav">
        <ul>
          <li>
            <h6 class="uppercase fc--scorpion lato lato--black">about</h6>
          </li>
          <li>
            <a href="#">How it Works</a>
          </li>
          <li>
            <a href="#">Press</a>
          </li>
          <li>
            <a href="#">News</a>
          </li>
          <li>
            <a href="#">Subscribe</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="columns small-12 large-4 text-center large-text-left push--medium-30">
      <nav class="footer__company footer__nav">
        </ul>
          <li>
            <h6 class="uppercase fc--scorpion lato lato--black">Company</h6>
          </li>
          <li>
            <a href="#">Our Team</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Legal</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

  <div class="row push--40">
    <div class="columns small-12 large-6 text-center large-text-left">
      <nav class="footer__social">
        <ul>
          <li class="facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="instagram">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="columns small-12 large-6 push--20 text-center large-text-left">
      <nav class="footer__legal">
        <ul>
          <li>
            Copyright &copy; 2017 Craft My Style
          </li>
          <li>
            <a href="#">Investor Information</a>
          </li>
          <li>
            <a href="#">Additional Dislaimer</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>
