---
title: Navigation
heading: 'Craft My Style'
---

{{>main-nav}}

<div class="hero row expanded">
  <div class="row text-center">
    <h3 class="lato fc--white">Real Stylists. Thousands of stores.</h3>
    <h1 class="lato lato--black fc--robins-egg-blue">Your Best Look Yet.</h1>
    <div class="push--40">
      <a href="#" class="btn btn--white">How it Works</a>
    </div>
  </div>
</div>

{{>footer-nav}}
