---
title: Page Team
heading: 'Craft My Style'
---

{{>main-nav-in-site}}

<div class="hero hero--small row expanded">
  <div class="row text-center">
    <h1 class="lato lato--black fc--robins-egg-blue">Our Team</h1>
  </div>
</div>

<div class="section section--small bg--robins-egg-blue text-center">
  <div class="row">
    <div class="columns large-6">
      <p class="lead lato lato--bold fc--white">
        Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.
      </p>
    </div>
    <div class="columns large-6">
      <p class="lead lato lato--bold fc--white">
        Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.
      </p>
    </div>
  </div>
</div>

<div class="section section--small bg--gallery text-left">
  <div class="row row--flex">
    <div class="columns small-12 large-8">
      <h2 class="lato lato--black fc--electric-violet">
        Lacey, 23 Irvine CA
      </h2>
      <h5 class="lato lato--black fc--mardi-gras push--20">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h5>
    </div>
    <div class="columns small-12 large-4 show-for-large">
      <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
    </div>
  </div>
  <div class="row row--flex push--40">
    <div class="columns small-12 large-4 show-for-large">
      <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
    </div>
    <div class="columns small-12 large-8">
      <h2 class="lato lato--black fc--electric-violet">
        Lacey, 23 Irvine CA
      </h2>
      <h5 class="lato lato--black fc--mardi-gras push--20">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h5>
    </div>
  </div>
  <div class="row row--flex push--40">
    <div class="columns small-12 large-8">
      <h2 class="lato lato--black fc--electric-violet">
        Lacey, 23 Irvine CA
      </h2>
      <h5 class="lato lato--black fc--mardi-gras push--20">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h5>
    </div>
    <div class="columns small-12 large-4 show-for-large">
      <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
    </div>
  </div>
</div>

<div class="section bg--mine-shaft text-center">
  <div class="row">
    <h1 class="lato lato--black fc--electric-violet">
      Get Styled.
    </h1>
    <h4 class="lato lato--black fc--gallery">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--blue">Start Styling</a>
    </div>
  </div>
</div>

{{>footer-nav}}
