---
title: Page Register
heading: 'Craft My Style'
bread: false
---

{{>main-nav-in-site}}

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--electric-violet">
      Sign up!
    </h1>
    <h4 class="lato lato--black fc--mardi-gras">Let's get started.</h4>
  </div>
</div>

<div class="section section--no-pad section--border-bottom bg--gallery text-center">
  <div class="row">
    <div class="columns small-12 medium-8 large-offset-2 medium-offset-2">
    <form class="form">
      <div class="form__row row text-left">
        <p class="lead lato">
          The form below has the following errors:
        </p>
        <ul>
          <li> Last name is invalid</li>
          <li> Last name is invalid</li>
          <li> Last name is invalid</li>
        </ul>
      </div>
      <div class="form__row row text-left">
        <label>What is your name?</label>
        <input type="text" class="hasError" placeholder="Placeholder" />
      </div>
      <div class="form__row row text-left">
        <label>What is your name?</label>
        <input type="text" placeholder="Placeholder" />
      </div>
      <div class="form__row row text-left">
        <label>What is your name?</label>
        <input type="text" placeholder="Placeholder" />
      </div>
      <div class="form__row row text-left">
        <label>What is your preference?</label>
        <textarea rows="4">This is a text area...</textarea>
      </div>
      <div class="form__row row text-left">
        <label>What is your favorite color?</label>
        <div class="select">
          <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </div>
      </div>
      <div class="form__row row text-left">
        <input id="radio" type="radio" name="radio" value="yes">
        <label class="form__checkbox-label form__checkbox-label--radio" for="radio">This is the radio label</label>
      </div>
      <div class="form__row row text-left">
        <input id="check" type="checkbox" name="check" value="yes">
        <label class="form__checkbox-label" for="check">This is the check label</label>
      </div>
      <div class="form__row row text-left">
        <input class="btn btn--purple" type="submit" value="Submit Input" />
      </div>
      <div class="form__row row text-left">
        <button class="btn btn--purple" type="submit">Submit Button</button>
      </div>
    </form>
  </div>
  </div>
</div>

{{>footer-nav}}
