---
title: Page Home
heading: 'Craft My Style'
---

{{>main-nav}}

<div class="hero row expanded">
  <div class="row text-center">
    <h3 class="lato fc--white">Real Stylists. Thousands of stores.</h3>
    <h1 class="lato lato--black fc--robins-egg-blue">Your Best Look Yet.</h1>
    <div class="push--40">
      <a href="#" class="btn btn--white">How it Works</a>
    </div>
  </div>
</div>

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--electric-violet">
      Get Styled.
    </h1>
    <h4 class="lato lato--black fc--mardi-gras">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--purple">Learn More</a>
      <a href="#" class="btn btn--purple">Our Stylists</a>
    </div>
  </div>
</div>

<div class="section bg--mine-shaft text-center">
  <div class="row">
    <h1 class="lato lato--black fc--azure-radiance">
      Style
    </h1>
    <h4 class="lato lato--black fc--gallery">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--blue-inv">Start Styling</a>
    </div>
  </div>
</div>

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--pizazz">
      Stories
    </h1>
    <h4 class="lato lato--black fc--mardi-gras">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row large-up-4 push--30">
      <div class="column">
        <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
        <div class="row push--20">
          <h4 class="lato lato--black">Jed, 29</h4>
          <p class="push--20">
            Nashville
          </p>
        </div>
      </div>
      <div class="column">
        <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
        <div class="row push--20">
          <h4 class="lato lato--black">Jed, 29</h4>
          <p class="push--20">
            Nashville
          </p>
        </div>
      </div>
      <div class="column">
        <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
        <div class="row push--20">
          <h4 class="lato lato--black">Jed, 29</h4>
          <p class="push--20">
            Nashville
          </p>
        </div>
      </div>
      <div class="column">
        <img class="round-image" src="http://placehold.it/600x600" width="100%" height="auto"/>
        <div class="row push--20">
          <h4 class="lato lato--black">Jed, 29</h4>
          <p class="push--20">
            Nashville
          </p>
        </div>
      </div>
    </div>
    <div class="row push--50">
      <a href="#" class="btn btn--purple">Learn More</a>
      <a href="#" class="btn btn--purple">Our Stylists</a>
    </div>
  </div>
</div>

<div class="section bg--mine-shaft text-center">
  <div class="row">
    <h1 class="lato lato--black fc--azure-radiance">
      Style
    </h1>
    <h4 class="lato lato--black fc--gallery">Using our pool of expert stylists, let us shop for what you like, assembleyour look and have it all ready to check out.</h4>
    <div class="row push--30">
      <a href="#" class="btn btn--blue">Start Styling</a>
    </div>
  </div>
</div>

{{>footer-nav}}
