---
title: Page Register
heading: 'Craft My Style'
bread: false
---

{{>main-user-nav-in-site}}

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--electric-violet">
      Hey David
    </h1>
    <div>
      <img src="http://placehold.it/200x200" class="round-image" />
    </div>
  </div>
</div>

<div class="section section--no-pad section--border-bottom bg--gallery text-center">
  <div class="row">
    <div class="columns large-4 medium-4 small-12 text-left">
      <h5 class="lato fc--mardi-gras">Account Activity</h5>
      <ul class="ul-line">
        <li>
          <a href="#">Feed</a>
        </li>
        <li>
          <a href="#">Account Settings</a>
        </li>
        <li>
          <a href="#">Your Preferences</a>
        </li>
      </ul>
    </div>
    <div class="columns large-8 medium-8 small-12 text-left push--small-60">
      <h3 class="lato fc--mardi-gras">Your Settings/Prefs</h3>

      <div class="row expanded push--60">
        <div class="columns">
          <form class="form">
            <div class="form__row row text-left">
              <label>Username</label>
              <input type="text" placeholder="Username" value="doggo440" />
            </div>
            <div class="form__row row text-left">
              <label>Password</label>
              <input type="password" placeholder="Username" value="doggo440" />
            </div>
            <div class="form__row row text-left">
              <label>What is your favorite color?</label>
              <div class="select">
                <select>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </div>
            <div class="form__row row text-left">
              <label>What is your favorite color?</label>
              <div class="select">
                <select>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </div>
            <div class="form__row row text-left">
              <label>What is your favorite color?</label>
              <div class="select">
                <select>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </div>
            <div class="form__row row text-left push--60">
              <button class="btn btn--purple" type="submit">Update Settings</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="notify-change-made text-center">
<h3 class="lato fc--white">Settings Successfully Saved.</h3>
</div>

{{>footer-nav}}
