---
title: Page Register
heading: 'Craft My Style'
bread: false
---

{{>main-user-nav-in-site}}

<div class="section bg--gallery text-center">
  <div class="row">
    <h1 class="lato lato--black fc--electric-violet">
      Hey David
    </h1>
    <div>
      <img src="http://placehold.it/200x200" class="round-image" />
    </div>
  </div>
</div>

<div class="section section--no-pad section--border-bottom bg--gallery text-center">
  <div class="row">
    <div class="columns large-4 medium-4 small-12 text-left">
      <h5 class="lato fc--mardi-gras">Account Activity</h5>
      <ul class="ul-line">
        <li>
          <a href="#">Feed</a>
        </li>
        <li>
          <a href="#">Account Settings</a>
        </li>
        <li>
          <a href="#">Your Preferences</a>
        </li>
      </ul>
    </div>
    <div class="columns large-8 medium-8 small-12 text-left push--small-60">
      <h3 class="lato fc--mardi-gras">Your Feed</h3>

      <div class="row push--60">

        <div class="columns">
          <div class="row">

            <div class="columns large-10">
              <h6>Edwardo Commented <a href="#">2 mins ago</a> on your post from <a href="#">Here.</a></h6>
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae eros sed ante consectetur malesuada. Ut mollis enim lacus, commodo vehicula dolor consequat at. Etiam mattis erat a vulputate vehicula. Donec in nisl nulla.

                <a href="#">8 Comments</a>
                <hr />
              </p>

              <p class="lead">
                This is a comment from <a href="#">Bob</a> at 9:04am
                <hr />
              </p>

              <p class="lead">
                This is a comment from <a href="#">Bob</a> at 9:04am
                <hr />
              </p>
            </div>

            <div class="columns large-12 push--20">
              <form class="form">
                <div class="form__row row text-left">
                  <label>Add a comment</label>
                  <input type="text" placeholder="Comment..." />
                </div>
                <div class="form__row row text-left">
                  <button class="btn btn--purple" type="submit">Add Comment</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>

{{>footer-nav}}
