<div class="footer row expanded bg--gallery">
  <div class="row">

    <div class="columns small-12 large-4 text-center large-text-left">
      <div class="footer__logo">
        <img src="/assets/img/cms-logo.svg" width="200" height="auto" />
      </div>
    </div>

    <div class="columns small-12 large-4 text-center large-text-left push--medium-30">
      <nav class="footer__about footer__nav">
        <ul>
          <li>
            <h6 class="uppercase fc--scorpion lato lato--black">about</h6>
          </li>
          <li>
            <a href="#">How it Works</a>
          </li>
          <li>
            <a href="#">Press</a>
          </li>
          <li>
            <a href="#">News</a>
          </li>
          <li>
            <a href="#">Subscribe</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="columns small-12 large-4 text-center large-text-left push--medium-30">
      <nav class="footer__company footer__nav">
        </ul>
          <li>
            <h6 class="uppercase fc--scorpion lato lato--black">Company</h6>
          </li>
          <li>
            <a href="#">Our Team</a>
          </li>
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Legal</a>
          </li>
          <li>
            <a href="#">Help</a>
          </li>
          <li>
            <a href="#"></a>
          </li>
        </ul>
      </nav>
    </div>

  </div>

  <div class="row push--40">
    <div class="columns small-12 large-6 text-center large-text-left">
      <nav class="footer__social">
        <ul>
          <li class="facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="instagram">
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="columns small-12 large-6 push--20 text-center large-text-left">
      <nav class="footer__legal">
        <ul>
          <li>
            Copyright &copy; 2017 Craft My Style
          </li>
          <li>
            <a href="#">Investor Information</a>
          </li>
          <li>
            <a href="#">Additional Dislaimer</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</div>
