<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}} | {{page.heading}}</title>

<meta name="description" content="{{description}}">
<meta name="keywords" content="TODO">

<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
<link rel="apple-touch-icon-precomposed" href="/assets/img/device-icons/apple-touch-icon.png">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<!-- 196 x 196 size -->
<link rel="shortcut icon" href="/assets/img/device-icons/favicon.ico" type="image/x-icon">

<!-- android color and image -->
<meta name="theme-color" content="#db5945">
<link rel="icon" sizes="192x192" href="/assets/img/device-icons/apple-touch-icon.png">

<!-- Preconnect to urls to load its contents quicker -->
<!-- Also can do 'dns-prefetch' for full url, 'subresource' for resources/js, 'prefetch' for images and cache, 'prerender' for pages. Can do this on load of js manipulation, remember there is a cost to opening these connections so only on priorities. -->
<!-- <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin> -->

<!-- TODO og tags for FB share -->
<meta property="og:title" content="TODO"/>
<meta property="og:image" content="TODO"/>
<meta property="og:site_name" content="TODO"/>
<meta property="og:description" content="TODO"/>
<meta property="og:type" content="TODO"/>

<link rel="stylesheet" href="/assets/css/styles.css?v=<@versionstamp>">

<script src="/assets/js/vendor-non-build/modernizr-custom.js?v=<@versionstamp>"></script>

<!--[if lte IE 9]>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
// Picture element HTML5 shiv
document.createElement( "picture" );
</script>
<script src="/assets/js/vendor-non-build/picturefill.min.js?v=<@versionstamp>" async></script>

