<div class="header row expanded">

  <div class="header__logo header__logo--in-site">
    <img src="/assets/img/cms-logo.svg" width="200" height="auto" />
  </div>

  <button class="header__mobi-nav-togg js-nav-togg hide-for-large">
    <i class="fa fa-bars"></i>
  </button>

  <div class="mobile-menu-wrap js-mobi-menu-wrap">
    <button class="header__mobi-nav-close js-nav-close hide-for-large">
      <i class="fa fa-close"></i>
    </button>
    <div class="row expanded">
      <nav class="header__li-nav text-right row expanded">
        <div class="row">
          <ul class="columns small-12 text-center large-text-right">
            <li class="isActive">
              <a href="#">Log In</a>
            </li>
            <li>
              <a href="#">Register</a>
            </li>
            <li>
              <a href="#">Help & Support</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="header__main-nav row expanded bg--mine-shaft">
        <div class="row">
          <ul class="columns small-12 text-center large-text-right">
            <li>
              <a href="#">How it Works</a>
            </li>
            <li class="isActive">
              <a href="#">Brands</a>
            </li>
            <li>
              <a href="#">Stylists</a>
            </li>
            <li>
              <a href="#">Get Started</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="header__main-nav header__main-nav--secondary row expanded bg--mine-shaft">
        <div class="row">
          <ul class="columns small-12 text-center large-text-right">
            <li>
              <a href="#">Breadcrumb</a>
            </li>
            <li class="isActive">
              <a href="#">Breadcrumb</a>
            </li>
            <li>
              <a href="#">Breadcrumb</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</div>
