<div class="header row expanded">

  <div class="header__logo header__logo--in-site">
    {{#if bread}}
    <img src="/assets/img/cms-logo.svg" width="200" height="auto" />
    {{else}}
    <img src="/assets/img/cms-logo.svg" width="140" height="auto" />
    {{/if}}
  </div>

  <button class="header__mobi-nav-togg js-nav-togg hide-for-large">
    <i class="fa fa-bars"></i>
  </button>

  <div class="mobile-menu-wrap js-mobi-menu-wrap">
    <button class="header__mobi-nav-close js-nav-close hide-for-large">
      <i class="fa fa-close"></i>
    </button>
    <div class="row expanded">
      <nav class="header__li-nav text-right row expanded">
        <div class="row">
          <ul class="columns small-12 text-center large-text-right">
            <li>
              <a href="#">Welcome Back, David</a>
            </li>
            <li> | </li>
            <li>
              <a href="#">Account Settings</a>
            </li>
            <li> | </li>
            <li>
              <a href="#">Help & Support</a>
            </li>
            <li> | </li>
            <li>
              <a href="#">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>
      <nav class="header__main-nav row expanded bg--mine-shaft">
        <div class="row">
          <ul class="columns small-12 text-center large-text-right">
            <li>
              <a href="#">Your Feed</a>
            </li>
            <li>
              <a href="#">Preferences</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</div>
